
/* Register page styling start */

.register{
  background-image: url(../Images/registerback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78vh;
    flex-direction: column;
    padding: 0px 30px 0 30px;
    
  }
  
  .r-h3{
    text-transform: uppercase;
    border-bottom: 5px solid rgb(131, 58, 70);
  }
  
  .r-btn-class{
   
   display: flex;
   justify-content: center;
   align-items: center;
  padding-top: 20px;
  }
  
  .register-form {
    background: rgba( 255, 255, 255, 0.35 );
  width: 50%;
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius:20px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5);
  padding-bottom: 10px;
  
  }
  .login-form{
    align-items: center;
    
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.35 );
    width: 50%;
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius:20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5);
    padding-bottom: 10px;
  }